*{
    margin: 0;
    padding: 0;
}
.listContainer{
    display:flex;
    justify-content: center;
    /* margin-top: 60px; */
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
    margin-top: 60px;
}
.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.listResult{
    flex: 3;
    margin-top: 60px;
}
.lsItem{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 10px;
}
.lsItem label{
    font-size: 14px;
}
.lsItem input{
    height: 15px;
    border: none;
    padding: 5px;
}
.lsItem>span{
    height: 30px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
}
.lsOptionInput{
    width: 50px;
}
.lsOptions{
    padding: 8px;
}
.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    margin-top: -10px;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}
.listSearch>button:hover{
    background-color: #044675;
}